// General resource configuration applicable to all profiles

process {
    // error strategy
    errorStrategy = 'retry'
    //errorStrategy = 'terminate'
    //maxRetries = 5

    // basic resources
    cpus = 1
    memory = 15.GB
    //time = { 20.m * task.attempt }

    // basic output settings
    publish_mode = "copy" // symlink or copy

    // process-specific resources
    withName: run_differential_expression {
        //memory = { 40.GB * task.attempt }
        memory = 75.GB
        cpus = 8
    }
    withName: run_fgsea {
        memory = 40.GB
        cpus = 8
    }
    withName: run_idea {
        memory = 50.GB
        cpus = 8 // default for iDEA -- can make less if needed
    }

    withName: plot_dge_results {
        memory = 60.GB
    }

} // end process

timeline {
    enabled = true
}
